<ng-container *ngIf="requestPost$ | async as request; else loader">
    <div class="container">
        <div class="py-5">
            <div class="col-12 col-md-8 col-lg-8 mx-auto">
                <div class="bg-light-subtle p-2 rounded">
                <img [src]="request?.featuredImageUrl" 
                [title]="request.title" class="img-fluid">

                <h6 class="mt-4 text-danger"><i class="bi bi-fire"></i> To fulfill until {{request.untilDate | date:'dd.MM.yyyy'}}</h6>
                <h1 class="">{{request.title}}</h1>

                <div class="d-flex justify-content-between mt-4 fw-lighter">
                    <span>Requested by {{request.author.name}}</span>
                    <span>Published on {{request.publishDate | date:'dd.MM.yyyy'}}</span>
                </div>

                <div *ngIf="request.categories" class="mt-2">
                    <span *ngFor="let category of request.categories" 
                    class="badge bg-secondary me-2">
                        {{category.name}}
                    </span>
                </div>
                </div>

                <div class="mt-4 blog-content fs-4"  [innerHTML]="request.content | formatText">
                </div>

                <div *ngIf="request?.desiredContainer" class="mt-2 blog-content fs-5 fw-bolder">
                    The most convenient container: #{{request?.desiredContainer?.id}} ({{request?.desiredContainer?.address}})
                </div>

                <div *ngIf="currentUser; else loginToProceed" class="d-flex justify-content-center align-items-center mt-5">
                    <a (click)="onVolunteerClick(request)" class="btn btn-success btn-lg">
                        Agree to be the KHelper <span class="emoji" role="img" aria-label="High Five">🖐️</span>
                    </a>
                </div>

                <ng-template #loginToProceed>
                    <div class="mt-5 fs-5 fst-italic">
                    Please, <a [routerLink]="['/login']" class="">
                       log in or register <span class="emoji" role="img" aria-label="High Five">🖐️</span>
                    </a> to be a KHelper!
                </div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <h3 class="mt-3 mx-3">Loading ...</h3>
    <div class="text-center " style="margin-top: 10rem; margin-bottom: 10rem;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>

