<footer class="text-center text-lg-start bg-white text-muted">
    <hr>
    <section class="d-flex justify-content-center justify-content-lg-right p-1">
      <div>
        <a href="" class="me-4 btn btn-outline-secondary active">
          UA
        </a>
        <a href="" class="me-4 btn btn-outline-secondary">
          EN
        </a>
    </div>
    </section>
    <hr>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-3">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                🤝KHelper
            </h6>
            <p>
              Volunteer project for fast volunteer help delivery in Kharkiv, Ukraine. <br><br>
              <i>Together to the Great Victory!</i>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a [routerLink]="['/']" class="text-reset">About the project</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Urgent requests</a>
            </p>
            <p>
              <a [routerLink]="['/container-map']" class="text-reset">Container map</a>
            </p>
            <p>
              <a [routerLink]="['/login']" class="text-reset">Authorization</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="bi bi-geo-alt"></i> Kharkiv city, UA</p>
            <p>
              <i class="bi bi-envelope-heart"></i>
              pamapolya@gmail.com
            </p>
            <p><i class="bi bi-telephone"></i> +38 050 530 98 38</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 KHelper - Kharkiv Volunteer Project
    </div>
    <!-- Copyright -->
  </footer>
