<div class="container">

    <h1 class="mt-3">Edit my Request</h1>

    <ng-container *ngIf="model">

        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="model.title">
                </div>

                <div class="mt-3">
                    <label for="shortDescription" class="form-label">Short Description</label>
                    <input type="text" id="shortDescription" name="shortDescription" class="form-control"
                        [(ngModel)]="model.shortDescription">
                </div>

                <div class="mt-3">
                    <label for="content" class="form-label">Content</label>
                        <div class="col-12 center">
                            <textarea name="content" id="content" class="form-control"
                                style="height: 350px;max-height: 350px;" [(ngModel)]="model.content"></textarea>
                        </div>
                </div>

                <div class="mt-3">
                    <label for="featuredImageUrl" class="form-label">Featured Image</label>
                        
                    <app-image-uploader 
                        [imageUrl]="this.model.featuredImageUrl"
                        [imageDescription]="'Add image related to your request'" 
                        (onImageUpload)="this.onImageUpload($event)" 
                    />
                </div>

                <div class="mt-3">
                    <label for="publishedDate" class="form-label">Actual until Date</label>
                    <input type="date" id="untilDate" name="untilDate" class="form-control"
                        value="{{model.untilDate}}" [ngModel]="model.untilDate | date: 'yyyy-MM-dd'"
                        (ngModelChange)="model.untilDate = $event">
                </div>

                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" id="isVisible" [(ngModel)]="model.isUrgent"
                        name="isVisible">
                    <label class="form-check-label" for="isVisible">
                        Is the request urgent? Please, select me if it is really so!
                    </label>
                </div>

                <div class="mt-3">
                    <label for="categories" class="form-label">Categories</label><br>
                    <ng-container *ngIf="categories$ | async as categories">
                        <p-multiSelect #multiselect [options]="categories" [(ngModel)]="categoriesIds" name="categories" id="categories" 
                        class="form-control custom-control" 
                        defaultLabel="Select all the suitable categories" optionLabel="name" display="chip"></p-multiSelect>
                    </ng-container>
                </div>

                <div class="mt-3">
                    <label for="desiredContainer" class="form-label">Desired container</label><br>
                    <ng-container *ngIf="containers$ | async as containers">
                        <p-dropdown [options]="containers" [(ngModel)]="model.desiredContainer" 
                        class="form-control col-12" name="desiredContainer" id="desiredContainer"
                        [editable]="true" optionLabel="address"></p-dropdown>
                    </ng-container>
                </div>    

                <div class="mt-5 mb-5 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Save changes</button>
                    <button type="button" class="btn btn-danger ms-3" (click)="onDelete()">Delete the request</button>
                </div>
            </div>
        </form>

    </ng-container>
</div>

