<div class="container mt-3">
    <h2 class="title" i18n>About our community: </h2>
</div>

<div class="container mt-3 border-bottom border-top hero">
    <div class="row">
        <!-- Картинка -->
        <div class="col-md-6">
            <img src="assets/main_guarded.png" alt="Volunteers" class="img-fluid">
        </div>
        
        <!-- Описание "Кто мы" и "Цель" -->
        <div class="col-md-6">
            <h2 i18n>Who are we?</h2>
            <p i18n>We are the active Kharkiv community thirsting for the Victory. <br><br> 
            We are here to <b> help the soldiers on the frontline, our defence forces in the city, the injured defenders in hospitals and the citizens, that need our support.</b><br>
            We act fast, we are honest and brave. Together we are unbreakable.</p>
            
            <h2 i18n>How it works?</h2>
            <p i18n><i class="bi bi-balloon-heart"></i> If you need certain help - you leave a request at the website and pick the requested items from the container which is on your way.
                <br><br>
                <i class="bi bi-balloon-heart-fill"></i> If you can help - you choose the request to fulfill, put the required staff to the desired container (or the closest possible one) and the request author picks it up at the earliest convenience.
            </p>

            <h2 i18n>What`s the purpose?</h2>
            <p i18n>We are aimed to save volunteer`s and military`s time and efforts of waiting for each other`s arrival and to reduce post shipping costs by searching helpers nearby.
            <br><br><b>Our containers are placed next to the most popular public transport stops, in the city center, in vast working areas, next to city 'gates' to be of easy reach by both militaries passing the city and the citizens, that can combine a walk with a good deed.</b>
            </p>
        </div>
    </div>
</div>

<div class="container title-container">
    <h2 class="title" i18n>You can help here: </h2>
</div>

<div class="container">
    <div class="my-4">
        <div class="row align-items-stretch">
            <ng-container *ngIf="posts$ | async as posts">
                <div class="col-12 col-md-4 mb-3" *ngFor="let post of posts">
                    <app-post-summary [postSummary]="post"></app-post-summary>
                </div>
            </ng-container>
        </div>
    </div>
</div>
