<!-- [ngClass]="{'urgent-card': postSummary?.isUrgent}" -->
<div class="card h-100 shadow">
    <img [src]="postSummary?.featuredImageUrl" class="card-img-top"
    [alt]="postSummary?.title">
    
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{postSummary?.title}}</h5>

        <div class="mb-3"> 
            <!-- Термінова заявка!!! -->
            <span *ngIf="postSummary?.isUrgent" class="badge bg-danger mx-1"><i class="bi bi-fire"></i> urgent</span>

            <!-- тут сделать цикл -->
            <span class="badge bg-secondary mx-1">tag 1</span>
            <span class="badge bg-secondary mx-1">tag 2</span>
        </div>

        <p class="card-text">{{postSummary?.shortDescription}} </p>
        <p class="card-text text-center text-muted"> To fulfill till {{postSummary?.untilDate | date:'dd.MM.yyyy'}} </p>

        <div class="d-flex justify-content-center align-items-center">
            <a [routerLink]="['/blog', postSummary?.urlHandle]" class="btn btn-block btn-success btn-block py-2 ">
                Read more   <i class="bi bi-arrow-right-circle-fill"></i><!-- Read more <span class="emoji" role="img" aria-label="High Five">🖐️</span> -->
            </a>
        </div>
    </div>
</div>
